.main__container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.canvas-mirror {
    position: relative;
    text-align: center;
    z-index: 8;
    width: 640px;
    height: 480px;
    transform: scaleX(-1); // Mirror the webcam video
    border-radius: 25px;
  }
  
  
  .info-container {
    position: absolute;
    color: white;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    white-space: pre-wrap;
  }